<nav>
    
    <a href="/">Homepage</a>

    <% if (user){ %>
    <a class="auth" href="/auth/log-out">Logout</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/profile">Profile</a>

    <% } else{ %>
    <a  class="auth" href="/auth/sign-up">Sign up</a>
    <a  class="auth" href="/auth/log-in">Login</a>

    <% } %>
    
</nav>
