<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <%- include('./partials/navbar') %>

    <h1>Dashboard</h1>

    <form method="get" action="/events/my-events">
        <button>See My Events</button>
    </form>

    <form method="get" action="/events/attending-events">
        <button>See Events I'm Attending</button>
    </form>

    <form method="get" action="/events/attendance-requests">
        <button>See Attendence Requests</button>
    </form>

    <form method="get" action="/events/invitations">
        <button>See Invitations</button>
    </form>
</body>
</html>