<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Invitations</title>
</head>
<body>
    <%- include('../partials/navbar') %>
    
    <h1>All Invitations</h1>

    <h2>Received Invitations</h2>
    

    <h2>Sent Invitations</h2>

</body>
</html>